certifi==2019.6.16
chardet==3.0.4
csscompressor==0.9.5
dj-database-url==0.5.0
Django==2.2.22
django-appconf==1.0.3
django-colorfield==0.1.15
django-compressor==2.3
django-heroku==0.3.1
gunicorn==19.9.0
idna==2.8
ply==3.11
psycopg2==2.8.3
pytz==2019.1
rcssmin==1.0.6
requests==2.22.0
rjsmin==1.1.0
six==1.12.0
slimit==0.8.1
sqlparse==0.3.0
urllib3==1.25.3
whitenoise==4.1.3
