@font-face {
    font-family: "Gilroy";
    src: url("font/Gilroy-Light.otf");
}

@font-face {
    font-family: "Gilroy Bold";
    src: url("font/Gilroy-ExtraBold.otf");
}

* {
    transition: all ease-in-out 200ms;
    font-family: "Gilroy";
}

body {
    overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6, .btn {
    font-family: "Gilroy Bold" !important;
}

.btn {
    border-radius: 500px;
    padding: 12px 16px;
    border: 0px;
}

.container {
    position: fixed;
    overflow-y: scroll;
    top: 0; right: 0; bottom: 0; left: 0;
}

.blueberry {
    background: linear-gradient(27deg, #ff10c3, #9300ff) !important;
    color: white !important;
}

.strawberry {
    background: linear-gradient(27deg, #ff1f40, #ff1d50) !important;
    color: white !important;
}

.material-icons {
    font-size: inherit !important;
}

.card {
    border-radius: 20px;
    border: 0px;
    padding: 10px;
    margin: 5px;
    text-align: left;
}

.project-col {
    padding: 0 !important;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.content {
    width: 90%;
    margin-left: 5%;
    border: 1px solid #f1f1f1;
    background: white;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

.card:hover {
    transform: scale(1.1);
}

.project-description {
    font-size: 24px;
    opacity: 0.8;
}

#primaryInfo {
    height: 100%;
    text-align: center;
}

#name {
    font-size: 54px;
}

.code {
    font-family: "Roboto Mono";
}

a {
    text-decoration: none !important;
}

.black-text {
    color: black !important;
}

#footer {
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

.hover, #profilePic, .btn, .card, .content {
    box-shadow: 5px 5px 5px #a9a9a9;
}

::-webkit-scrollbar {
    display: none;
}

.hover:hover, #profilePic:hover, .btn:hover, .card {
    box-shadow: 2px 2px 3px #a9a9a9;
}