{% extends "partials/head.html" %}
{% block content %}
    <style>a{text-decoration: none !important; color: white !important;}</style>
    <div class="content">
    <h1 id="title">Blog</h1>
    {% for post in blog_posts %}
        <a href="/blog/{{ post.id }}">
            <div class="card" style="background: {{ post.color }}">
                <div class="card-title">
                    <h1>{{ post.title }}</h1>
                </div>
                <div class="card-description">
                    <span class="project-description">{{ post.description }}</span>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
{% endblock %}