{% extends "partials/head.html" %}
{% block content %}
    <div class="container">
        <div id="primaryInfo" class="rellax" data-rellax-speed="5">
            <div id="profilePic" class="image">
                <div class="bg-light row" style="font-size: 30px; border-radius: 5px; margin: 0px 0px;">
                    <div class="col">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="col">
                        <a href="https://github.com/harrisbegca"><i class="fab fa-github"></i></a>
                    </div>
                    <div class="col">
                        <i class="fas fa-blog"></i>
                    </div>
                    <div class="col">
                        <i class="fas fa-envelope-open"></i>
                    </div>
                </div>
            </div>
            <h1 id="name" >Harris Beg</h1>
            <h4 class="code">"Don't conform"</h4>
            <button class="btn blueberry"><i class="material-icons">location_on</i> SAN DIEGO, CA</button>
            <button class="btn strawberry" onclick="location.href='/blog'"><i class="fas fa-pen"></i> BLOG</button>
        </div>
        <div class="content">
            <h1>🔨 Past Work</h1>
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="card" color1="#000" color2="#1a1a1a" text-color="#1DB954">
                        <h2>Smartify</h2>
                        <span class="project-description">Smarter Spotify Album Queues</span>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="card" color1="#18bc9c" color2="#18a68a" text-color="white">
                        <h2>Grabify</h2>
                        <span class="project-description">700,000+ Monthly IP Logs</span>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="card" color1="#dd267d" color2="#542785" angle="31deg" text-color="white">
                        <h2>MySocialHub</h2>
                        <span class="project-description">Platform for Creators, by Creators</span>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="card" color1="#3C6284" color2="#3A9984" angle="31deg" text-color="white">
                        <h2>skinCAM</h2>
                        <span class="project-description">FAST Skin Disease Detection</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <h1>🔮 Future Projects</h1>
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="card" color1="#a8ff78" color2="#78ffd6" text-color="black">
                        <h2>StickAR</h2>
                        <span class="project-description">AR-based Sticker Previews</span>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="card" color1="#007bff" color2="#009dff" text-color="white">
                        <h2>Blockbook</h2>
                        <span class="project-description">A Privacy-Centric Gradebook</span>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="card" color1="#ffff64" color2="#ebeb50" angle="31deg" text-color="black">
                        <h2>Geni(e)us</h2>
                        <span class="project-description">Akinator for Music</span>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="card" color1="#000" color2="#1a1a1a" angle="31deg" text-color="white">
                        <h2>Hypercharged</h2>
                        <span class="project-description">Professional Car Photography</span>
                    </div>
                </div>
            </div>
        </div>
    {% include "partials/footer.html" %}
    </div>
{% endblock %}
